*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    --var:20%;/*用于修改上下两排小格子占的宽度,便于以后修改*/
    --border:1px solid #fff;
    --lasting-time:0.5s;/*整个过程持续时间*/
    --color-light:#f6c445;
    --bcolor:#9ac1f0;
    --num:16;
}
html{
    font-size:8px;
}
body{
    height:740px;
    width:1184px;
    display: flex;
    align-items:center;
    justify-content: center;
    background: #daebc7;
}
#title{
    font-size:4rem;
    margin-bottom: 9rem;;
    text-align:center;
    font-family:num19;
    letter-spacing: 0.5rem;
}
.bulk{
    height:40rem;
    width:68rem;
}
.bulk>div{
    height:100%;
    width:100%;
}
.up,.bottom{
    height:20%;
    width:100%;
}
.middle{
    height:60%;
    width:100%;
}
.up>ul{
    height:100%;
    list-style: none;
}
.bottom>ul{
    height:100%;
    list-style: none;
}
.up .items{
    height:100%;
    border:var(--border);
    width:var(--var);
}
.up .itemsmove{
    height:100%;
    border:var(--border);
    width:var(--var);
}
.bottom .items{
    height:100%;
    border:var(--border);
    width:var(--var);
}
.bottom .itemsmove{
    height:100%;
    border:var(--border);
    width:var(--var);
}
.up li{
    float:left;
}
.bottom li{
    float:left;
}
.center{
    float:left;
    height:100%;
    width:60%;
    display:flex;
    align-items:center;
    justify-content: center;
}
.center>.button2{
    height:8rem;
    width:15rem;
    background:var(--bcolor);
    border-radius:5px;
}
.disappear2{
    display:none;
}
.disappear1{
    display:none;
}
.disappear3{
    display:none;
}
svg{
    height:3rem;
    width:3rem;
    fill:red;
    animation:heart 3s;
}
@keyframes heart{
    0%{
        fill:rgba(0,0,0,0)
    }
    99%{
        fill:rgba(0,0,0,0)
    }
}
svg:hover{
    transform:scale(2)
}
.center>.button1{
    padding-left: 4.5rem;
    padding-right:4.5rem;
    height:100%;
    width:50%;
    float:left;
    background-image: linear-gradient(to left, #f83600 0%, #f9d423 100%);
    border-radius:0.8rem;
    animation:hot 3s ease-out;
    animation-fill-mode:forwards;
    font-size:2.5rem;
    font-family:num12;
    letter-spacing: 0.5rem;
}
/* 这是为什么*/
@keyframes hot{
    0%{
        width:50%;
        color:rgba(0,0,0,0)
    }
    40%{
        width:70%;
    }
    60%{
        width:60%;
    }
    75%{
        width:80%;
    }
    85%{
        width:75%;
    }
    99%{
        color:rgba(0,0,0,0)
    }
    100%{
        width:80%;
        color:rgba(0,0,0,1)
    }
}
.center>.button3{
    height:100%;
    width:50%;
    float:left;
    background-image: linear-gradient(to right, #329cf9 0%, #88eef4 70%,#D7FFFE 100%);
    border-radius:0.8rem;
    font-size:2.2rem;
    font-family:num7;
    letter-spacing: 0.5rem;
    animation:cold 3s ease-out;
    animation-fill-mode:forwards;
}
@keyframes cold{
    0%{
        width:50%;
        color:rgba(0,0,0,0)
    }
    40%{
        width:30%;
    }
    60%{
        width:40%;
    }
    75%{
        width:20%;
    }
    85%{
        width:25%;
    }
    99%{
        color:rgba(0,0,0,0)
    }
    100%{
        width:20%;
        color:rgba(0,0,0,1)
    }
}
.right,.left{
    width:var(--var);
    height:100%;
    border:var(--border);
    float:left;
}
.middle ul{
    width:100%;
    height:100%;
    list-style: none;
}
.middle .items{
    width:100%;
    height:33.3%;
    border:var(--border);
}
.middle .itemsmove{
    width:100%;
    height:33.3%;
    border:var(--border);
}
.items,.itemsmove{
    background: var(--bcolor);
}
.first{
    background:var(--color-light);
}
@keyframes move{
    0%{
        background:var(--color-light);
        transform: scale(103%);
        --choosed:1;
    }
    6.25%{
        background:var(--color-light);
        transform: scale(103%);
        --choosed:1;
    }
    6.26%{
        background: var(--bcolor);
        --choosed:0;
    }
    100%{

    }
}
.i1{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 0) infinite;
    animation-fill-mode:forwards;
}
.i2{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 1) infinite;
    animation-fill-mode:forwards;
}
.i3{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 2) infinite;
    animation-fill-mode:forwards;
}
.i4{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 3) infinite;
    animation-fill-mode:forwards;
}
.i5{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 4) infinite;
    animation-fill-mode:forwards;
}
.i6{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 5) infinite;
    animation-fill-mode:forwards;
}
.i7{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 6) infinite;
    animation-fill-mode:forwards;
}
.i8{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 7) infinite;
    animation-fill-mode:forwards;
}
.i9{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 8) infinite;
    animation-fill-mode:forwards;
}
.i10{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 9) infinite;
    animation-fill-mode:forwards;
}
.i11{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 10) infinite;
    animation-fill-mode:forwards;
}
.i12{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 11) infinite;
    animation-fill-mode:forwards;
}
.i13{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 12) infinite;
    animation-fill-mode:forwards;
}
.i14{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 13) infinite;
    animation-fill-mode:forwards;
}
.i15{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 14) infinite;
    animation-fill-mode:forwards;
}
.i16{
    animation:move var(--lasting-time) linear calc(var(--lasting-time) / var(--num) * 15) infinite;
    animation-fill-mode:forwards;
}
/* 调整四个角为圆角 */
.up>ul>li:first-child{
    border-top-left-radius:2rem;
}
.up>ul>li:last-child{
    border-top-right-radius:2rem;
}
.bottom>ul>li:first-child{
    border-bottom-left-radius:2rem;
}
.bottom>ul>li:last-child{
    border-bottom-right-radius:2rem;
}
/* 设置hover后,光标自动出现在第一个位置 */

/* 设置button样式 */

/* 字体引入 */
@font-face{
    font-family: num1;
    src:url("图片/yinhexiaoxiongmanyouji.ttf")
}
@font-face{
    font-family:num2;
    src:url("图片/xiaoxiongtoutoufanmaikeaiziti.ttf")
}
@font-face{
    font-family:num3;
    src:url("图片/renjiannailaobianlidian.ttf")
}
@font-face{
    font-family:num4;
    src:url("图片/彩虹软糖可乐熊.ttf")
}
@font-face{
    font-family:num5;
    src:url("图片/yezigongchangqingseqingshuti.ttf")
}
@font-face{
    font-family:num6;
    src:url("图片/宝宝有小情绪啦.ttf")
}
@font-face{
    font-family:num7;
    src:url("图片/ruanmengchulianti.ttf")
}
@font-face{
    font-family:num8;
    src:url("图片/平方果冻体.ttf")
}
@font-face{
    font-family:num9;
    src:url("图片/飞奔的小月兔.ttf")
}
@font-face{
    font-family:num10;
    src:url("图片/锐字温帅小可爱.ttf")
}
@font-face{
    font-family:num11;
    src:url("图片/汉仪小松小情歌 W.ttf")
}
@font-face{
    font-family:num12;
    src:url("图片/6字心坊暗黑哥特体.ttf")
}
@font-face{
    font-family:num13;
    src:url("图片/三极花朝体.ttf")
}
@font-face{
    font-family:num14;
    src:url("图片/你是我向往的彼方.ttf")
}
@font-face{
    font-family:num15;
    src:url("图片/带你环游浪漫星球.ttf")
}
@font-face{
    font-family:num16;
    src:url("图片/比悲伤更悲伤的故事.ttf")
}
@font-face{
    font-family:num17;
    src:url("图片/惬意的晚风.ttf")
    
}
@font-face{
    font-family:num18;
    src:url("图片/平方迎风体.ttf")
}
@font-face{
    font-family:num19;
    src:url("图片/孤独的流浪诗.ttf")
}
.button2{
    font-size:2rem;
    font-family:num4;
    letter-spacing: 0.5rem;
}
/* 实现输入显示功能 */
li{
    display:flex;
    align-items: center;
}
textarea{
    border:none;
    resize:none;
    background:transparent;
    width:100%;
    font-size:2rem;
    text-align: center;
    letter-spacing: 0.1rem;
    overflow-y:hidden;
    font-family:num2;
}
textarea:focus{
    overflow-y:scroll;
}
/* 被选中后为其增加独特的样式 */
.items1::before{
    /* display:none; */
    content:'我是一个没人疼的小可怜虫😟';
    font-size:2rem;
    font-family: num4;
    position:absolute;
    margin-top:-17rem;
    margin-left:-17.5rem;
    width:19rem;
    background:#f8a57f;
    border-radius: 0.8rem;
    letter-spacing: 0.55rem;
    text-align: center;
    animation: move1 3s ease-out;
}

@keyframes move1{
    from{
        opacity: 0;
    }
}
.items2::before{
    /* display:none; */
    content:'谁又能想到,我亲爱的媳妇儿忍心这么对我呢😟';
    font-size:2rem;
    font-family: num5;
    position:absolute;
    margin-top:-17rem;
    margin-left:-10rem;
    width:20rem;
    background:#fad4a6;
    border-radius: 0.8rem;
    letter-spacing: 0.55rem;
    text-align: center;
    animation: move1 3s ease-out;
}
.items3::before{
    /* display:none; */
    content:'你的心冷的让我不敢靠近';
    font-size:2rem;
    font-family:num6;
    position:absolute;
    margin-top:-18rem;
    margin-left:-5rem;
    width:19rem;
    background:linear-gradient(to right, #329cf9 0%, #88eef4 70%,#D7FFFE 100%);
    border-radius: 0.8rem;
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move1 3s ease-out;
}
.items4::before{
    content:'插上ઈ翅膀ઉ,让我去一个没有悲伤的地方';
    font-size:2rem;
    font-family:num7;
    /* display:none; */
    position:absolute;
    margin-top:-18rem;
    margin-left:-5rem;
    width:19rem;
    background:#45958e;
    border-radius: 0.8rem;
    letter-spacing: 0.55rem;
    text-align: center;
    animation: move1 3s ease-out;
}
.items5::before{
    /* display:none; */
    content:'被磕的再疼,也不及我的心疼';
    font-size:2rem;
    font-family:num8;
    position:absolute;
    margin-top:-18rem;
    margin-left:-5rem;
    width:19rem;
    /*  */
    background:#fbcaba;
    border-radius: 0.8rem;
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move5 5s ease-out;
    z-index:1;
}

@keyframes move5{
    0%{
        margin-top:0;
        color:rgba(0,0,0,0);
    }
    3%{
        margin-top:-35rem;
    }
    36%{
        margin-top:-22rem;
        color:rgba(0,0,0,0);
    }
    70%{
        color:rgba(0,0,0,0);
    }
    100%{
        color:rgba(0,0,0,1);
    }
}
.items5::after{
    /* display:none; */
    content:'';
    background-image: linear-gradient(to top, #ffecd2 0%, #f4a489 100%);
    height:4.5rem;
    width:4.5rem;
    border-radius:50%;
    margin-top: -19rem;
    margin-left:-7rem;
    animation:scar 5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes scar{
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    61%{
        opacity:0.5;
    }
    100%{
        opacity:1;
        margin-top:-22rem;
    }
}
.items6::before{
    /* display:none; */
    content:'请人帮我算了一卦,今日有一劫,只有真爱才能解';
    font-size:2rem;
    font-family:num9;
    position:absolute;
    margin-top:-15rem;
    margin-left:-19rem;
    width:18rem;
    /* background:#84c9ef; */
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move1 3s ease-out;
}
.items7::before{
    /* display:none; */
    content:'听别人说,以前有犯人被处刑的时候,都可以吃一顿好吃的';
    font-size:2rem;
    font-family:num10;
    position:absolute;
    margin-top:-18rem;
    margin-left:-19rem;
    width:18rem;
    background:#84c9ef;
    border-radius: 0.8rem;
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move1 3s ease-out;
}
.items8::before{
    /* display:none; */
    content:'明知道你按下之后我会遭殃,我却还在担心你的手指会不会很疼';
    font-size:2rem;
    font-family:num11;
    position:absolute;
    margin-top:0px;
    margin-left:-19rem;
    width:18rem;
    background:#cbbddd;
    border-radius: 0.8rem;
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move1 3s ease-out;
}
.items9::before{
    /* display:none; */
    content:'我想看看明天的太阳';
    font-size:2rem;
    font-family:num19;
    position:absolute;
    margin-top:-20rem;
    margin-left:15rem;
    width:8rem;
    background:#ec061d;
    border-radius: 50%;
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move1 3s ease-out;
}

.items10::before{
    /* display:none; */
    content:'连我媳妇儿都准备这样样对我的话,可能以及没人爱我了😭';
    font-size:2rem;
    font-family:num13;
    position:absolute;
    margin-top:-20rem;
    margin-left:15rem;
    width:18rem;
    background:#9e9cf4;
    border-radius: 0.8rem;
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move1 3s ease-out;
}
.items11::before{
    /* display:none; */
    content:'如果有一天咖啡也会很甜,那一定是因为我在这里吃了太多苦';
    font-size:2rem;
    font-family:num14;
    position:absolute;
    margin-top:-10rem;
    margin-left:16rem;
    width:18rem;
    background:#35bc88;
    border-radius: 0.8rem;
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move1 3s ease-out;
}
.items12::before{
    /* display:none; */
    content:'谁说站在光里的才算英雄,躲在角落里的才让我觉得最痛';
    font-size:2rem;
    font-family:num15;
    position:absolute;
    margin-top:18rem;
    margin-left:-18rem;
    width:22rem;
    background:#1e89ef;
    border-radius: 0.8rem;
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move1 3s ease-out;
}
.items13::before{
    /* display:none; */
    content:'谢谢你,怕恋爱太甜了会有蛀牙,特意给我吃点苦头';
    font-size:2rem;
    font-family:num16;
    position:absolute;
    margin-top:18rem;
    margin-left:-12rem;
    width:20rem;
    background:#fcbd15;
    border-radius: 0.8rem;
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move1 3s ease-out;
}
.items14::before{
    /* display:none; */
    content:'没有别的意思,就是单纯觉得,医院和轮椅都很贵';
    font-size:2rem;
    font-family:num17;
    position:absolute;
    margin-top:18rem;
    margin-left:-5rem;
    width:20rem;
    background:#8e65ab;
    border-radius: 0.8rem;
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move1 3s ease-out;
}
.items15::before{
    /* display:none; */
    content:'如果媳妇儿放过我的话,我一定会高兴一整天吧';
    font-size:2rem;
    font-family:num18;
    position:absolute;
    margin-top:20rem;
    margin-left:5rem;
    width:20rem;
    background:#f484d3;
    border-radius: 1rem;
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move1 3s ease-out;
    line-height:30px;
}
.items16::before{
    /* display:none; */
    content:'抽到这里的话,我们就假装没抽过去逛超市吧,好不好呀';
    font-size:2rem;
    font-family:num12;
    position:absolute;
    margin-top:15rem;
    margin-left:15rem;
    width:18rem;
    background:#8fa678;
    border-radius: 0.8rem;
    letter-spacing: 0.5rem;
    text-align: center;
    animation: move1 3s ease-out;
}